.nav {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0.1em solid #ccc;
	overflow: auto;
	width: 668px;
}

.lang {
	font-family: sans-serif;
	font-size: 15px;
	float: left; 
	background-color: #fff;
	border-right: 1px solid #ccc;
	padding: 10px 20px;
	cursor: pointer; 
	color: #555555;
}

.lang:hover {
	background-color: #E0E0D5;
}

.selected {
	background: #E0E0D5;
}
.source {
	border-right: 0;
	float:left;
}

.viewmore {	
	width: 2%;
	text-align: center;
	border-right: 0;
}

.viewmore:hover {
	background-color: #fff;
}

.translate {
	color: #476CDA;
	text-align: center;
}

.translate:hover {
	background-color: #fff;
}

.action {
	width:50px;
	float:right;
}

.option {
	clear: both;
	width:100px;
	border: 1px solid #ccc; 
	position: absolute;
}

.nav ul:after {
	clear: both; 
	display: block;
}

.action:hover {
	cursor: pointer;
}
.perc {
	border-right: 0;
	width:12%;
	color:#888888;
}

.perc:hover {
	background-color: #fff;
	cursor: default;
}
/** This makes submenus **/
.nav li ul {
	height:auto; 
	clear:both;
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav li ul li {
	float:none;
	text-align: left;
}

.nav li:hover ul {
	display: block;
}